<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tobin.recipe">

    <application>
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.main.RecipeActivity" />
    </application>

</manifest>